// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.0.1
CURRENT_PROJECT_VERSION = 0

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = XYZ0123456
ORG_IDENTIFIER = nickmolargik

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = CreditKeeper
//PRODUCT_NAME[configuration=Debug] = Prov Debug

PRODUCT_BUNDLE_IDENTIFIER   = $(ORG_PREFIX).CreditKeeper


EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = $(PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME)
